/* Custom style */
     #zsiq_float
     {
         display: none !important;
     }
    .accordion-button::after {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
      transform: scale(.7) !important;
    }
    .accordion-button:not(.collapsed)::after {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    }
    .accordion-button:not(.collapsed)
    {
        color: #000000;
        background-color: #ffd700 !important;
    }
    .accordion-button:focus
    {
        border-color: #020202;
        box-shadow: 0 0 0 0.25rem rgb(249 218 0 / 25%) !important;
    }
    .content-num>a
    {
        color: white;
    }
    .fs-weight
    {
        font-weight:700;
        font-size: 16px;
    }
    .bg-gradiant
    {
        background: linear-gradient(45deg, #ffa50029, #ffa500de);
    }
    .email-box
    {
        border: 1px solid #80808029;
        border-radius: 4px;
    }
    .fs-20
    {
        font-size:16px;
    }
    .from-alter ::placeholder 
    { /* Chrome, Firefox, Opera, Safari 10.1+ */
     color: #80808045;
     opacity: 1; /* Firefox */
    }
    .bg-extra-dark 
    {
      background-color: #606060;
    }
    .bg-black 
    {
      background: #000;
    }
    .bg-slider
    {
        background-color: #f3f3f3;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 2px #ffd700;
    }
    .border-gray-top
    {
        border-top: 1px solid gainsboro !important;
        border-radius: 5px;
    }
    header nav.navbar.white-link .navbar-nav > li > a, nav.navbar.bootsnav.white-link ul.nav > li > a, header nav.navbar.white-link .header-social-icon a, nav.navbar.bootsnav.white-link .header-social-icon a, header nav.navbar.white-link .header-searchbar a, nav.navbar.bootsnav.white-link
    .header-searchbar a, header nav.navbar.bootsnav ul.nav.white-link > li > a, nav.navbar.white-link .heder-menu-button a
    {
        color: black;
    }
    .txt-white
    {
        color: white;
    }
    .btn-check:focus+.btn, .btn:focus
    {
        box-shadow: 0 0 0 0.25rem rgb(247 203 103 / 25%);
    }
    .btn-bg-color
    {
        
        background-color: #ffd700 !important;
        border-color: #ffd700 !important;
        color: #000000 !important;
    }
    .btn-bg-color:hover
    {
        background-color: #ffffff !important;
    }
    .course-p
    {
        font-size: 16px;
        font-weight: 500;
    }
    .bg-white
    {
        background-color: white;
    }
    .pad-course
    {
        padding: 10px 20px;
        margin: 10px 0;
    }
    .pad-10
    {
        padding: 5px 10px;
    }
    .isolator
    {
       outline-style: auto;
    }
    a
    {
        text-decoration: none !important;
    }
    .pad-40
    {
        padding: 40px 40px;
        border: 1px solid #eddddd;
        box-shadow: 1px 4px 5px 5px #8080802b;
        height: 90%;
    }
    
    .fs-small
    {
        font-size:18px;
    }
    .contact-num
    {
        font-weight:500;
        font-size: 18px;
        
    }
    .logo-width
    {
        width:20%;
    }
    .align-group
    {
       display: inline-flex;
       align-items: center;
       margin-bottom: 20px;
    }
    .content-num
    {
        margin-left:10px;
    }
    .accordion-style1.panel-group .panel-heading
    {
        background-color: white;
        padding: 16px;
        border-radius: 5px;
    }
    .accordion-style1.panel-group .panel-heading+.panel-collapse>.panel-body
    {
        padding: 25px 16px;
    }
    .job-data
    {
        line-height:2;
    }
    .head-info
    {
        font-weight:500;
        font-size: 16px;
    }
    .sub-info
    {
        font-size: 14px;
    }
    .border-right
    {
        border-right: 1px solid #bfbdbd;
    }
    .alt-info
    {
        padding: 20px;
        border: 1px solid #cbcbcb;
        border-radius: 5px;
        box-shadow: 1px 4px 5px 5px #8080807d;
    }
    .btn-bg-change
    {
        background-color: #00000000 !important;
        color: white !important;
        border: 1px solid !important;
    }
    .btn.btn-deep-pink 
    {
        background-color: #ffd700 !important;
    }
    .text-medium-gray, .btn.text-medium-gray 
    {
        color: #ffd700 !important;
    }
    .feature-box .content:after
    {
        background-color: #ffd700 !important ;
    }
    .btn.btn-deep-pink:hover
    {
        color: black;
    }
    .btn.btn-deep-pink:hover, .btn.btn-deep-pink:focus
    {
        color: black;
    }
    .highlights
    {
       background-color: #f3f3f3;
       margin-top: -123px;
       padding-top: 135px;
    }
    
    /*-----------------
      mobile-view
    -------------------*/
    @media (max-width: 767px) 
    {
        .mobile-flex
        {
            display: block !important;
            margin-bottom: 30px;
        }
        .navbar-toggler:focus
        {
            box-shadow: none;
        }
        .navbar-default .navbar-toggler .icon-bar
        {
            background-color: white !important;
        }
        .navbar-collapse 
        {
            top: 110%;
        }
        nav.navbar.bootsnav .navbar-nav
        {
           background-color: #4d5256;
           border-radius: 5px;
           width: 90%;
           margin-left: auto !important;
           margin-right: auto !important;
        }
        .col-mb-10
        {
            flex: 0 0 auto;
            width: 83.33333333%;
            margin-left: 20px;
        }
        .logo-width
        {
            width: 40%;
            margin-left: 30px;
        }
        .align-group
       {
            align-items: inherit;
       }
       .not-for-mobile
       {
           display:none;
       }
       .pi-left-30
       {
            padding-left: 30px;
       }
       .pt-20-alt
      {
        padding-top:20px;
      }
      .border-none-1
      {
          border: none !important;
      }
       .pad-20
       {
          padding: 20px;
       }
       .width-110
       {
           width: 110%;
       }
       .highlights
       {
           background-color: #f3f3f3;
           padding-top: 270px;
           margin-top: -69%;
       }
       /*.alter-head
       {
          margin-top: 9px;
       }*/
       .for-mobile
       {
           margin-top: -22%;
           padding: 90px 0 50px 0;
       }
    }